<?xml version="1.0" encoding="UTF-8" ?><!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eastwoo.mybatis_test.mapper.OrderMapper">

    <!--데이터 삽입-->
    <insert id="insertOrders" parameterType="java.util.List">
        INSERT INTO orders (user_id, amount)
        VALUES
        <foreach collection="list" item="order" separator=",">
            (#{order.userId}, #{order.amount})
        </foreach>
    </insert>
</mapper>